asgiref==3.11.1
asttokens==3.0.1
attrs==26.1.0
colorama==0.4.6
decorator==5.3.1
Django==5.2.1
django-cors-headers==4.9.0
django-mail-queue==3.2.6
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
executing==2.2.1
gunicorn==26.0.0
inflection==0.5.1
ipython==9.14.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
matplotlib-inline==0.2.2
packaging==26.2
parso==0.8.7
prompt_toolkit==3.0.52
psutil==7.2.2
pure_eval==0.2.3
Pygments==2.20.0
PyJWT==2.13.0
pytz==2026.2
PyYAML==6.0.3
referencing==0.37.0
rpds-py==2026.5.1
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.15.1
tzdata==2026.2
uritemplate==4.2.0
wcwidth==0.7.0
whitenoise==6.12.0
